<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F62C5CA2040D9C200BA602E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F62C5DE2040D9C300BA602E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F62C5E92040D9C300BA602E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
